.do-editor {
  .edit-title {
    display: flex;
    margin-bottom: 16px;
    span {
      width: 60px;
      text-align: left;
      line-height: 40px;
    }
  }
}
.el-dialog__body {
  padding: 0 20px;
}