.do-blog-publish {
  width: 1000px;
  background: #fff;
  margin: 40px auto;
  .publish-title {
    padding: 20px 0;
    padding-bottom: 0;
    span.titles {
      display: inline-block;
      width: 76px;
      padding: 20px;
    }
    .title-input {
      width: 900px;
      display: inline-block;
    }
  }
  .publish-edit {
    overflow: hidden;
    .publish-content {
      float: left;
      width: 76px;
      line-height: 70px;
      text-align: center;
    }
    .publish-content-edit {
      float: left;
    }
  }
  .submit {
    padding-bottom: 20px;
    text-align: center;
  }
}