.do-blog-publish {
  width: 1000px;
  background: #fff;
  margin: 40px auto;
  .publish-title {
    padding: 20px 0;
    padding-bottom: 0;
    span.titles {
      display: inline-block;
      width: 76px;
      padding: 20px;
    }
    .title-input {
      width: 900px;
      display: inline-block;
    }
  }
}